<div id="home">
    <div class="new-post">
        <div class="profile-img"><p>img</p></div>
        <div>
            <form action="/home/newPost" method="POST" enctype="multipart/form-data">
                <textarea name="newPost" class="text" cols="80" rows="10" placeholder="What is happening"></textarea>
                <input type="file" name="postImage"> 
                <div class="btn-box">
                    <button class="post-add-btn img">img</button>
                    <button class="post-add-btn">gif</button>
                    <button class="post-add-btn">poll</button>
                    <button class="post-add-btn">emoticon</button>
                    <button type="submit" class="post-btn">Post</button>
                </div>
            </form>
        </div>
    </div>
    <button id="loadPostsBtn">More posts</button>
    <div>
        <% posts.forEach( post => { %>
            <div class="post">
                <p class="post-header"><%= post.user %><span class="grey-text"><%= " @" + post.userId %></span></p>
                <p><%= post.postText %></p>
                <div class="date-text"><%= "Edited: " + post.editedAt %></div>

                <% if(post.postImagePath != null){ %>
                    <img src="<%= post.postImagePath %>" width="500" height="600">
                <% } %>

                <% if(post.userId == userId){ %>
                    <form action="/home/editPost/<%= post._id %>" method="GET">
                        <button type="submit">Edit</button>
                    </form>
                    <form method="POST" action="/home/deletePost/<%= post._id %>?_method=DELETE" >
                        <button type="submit">Delete</button>
                    </form>
                <% } %>
            </div>
        <% }) %>
    </div>
</div>
<script src="javascript/newPostScript.js" defer></script>